@media (max-width: 400px) {
    html { background: rgb(111, 199, 151); }
  }
  @media (min-width: 401px) and (max-width: 800px) {
    html { background: rgb(78, 175, 143); }
  }
  @media (min-width: 801px) {
    html { background: rgb(68, 173, 159); }
  }

#fullContent {
    background-image: url("sea.JPG"); 
    background-size: cover; 
}

h1 {
    color:  #011a2e;
}

body {
    font-family: 'Shadows Into Light', cursive;
    max-width: 500px;
    margin: auto;
    text-align: center;
    //background-color:  #e3ff33;
}

/*#taskCounter {
    font-size: 30px;
    border-style: dotted;
}/*